@using System.Web.Optimization;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>whattrain.co.uk</title>

    @Styles.Render("~/Content/css")
</head>

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">whattrain.co.uk</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" id="station">
            <h1 data-bind="text: name"></h1>
            <!-- ko foreach: platforms -->
            <div class="row">
                <!-- ko foreach: sections -->
                <div data-bind=" attr: { 'class' : 'col-md-' + size + ' platform' }">
                    <h2 data-bind="text: name, visible: display"></h2>
                    <span class="berth" data-bind="attr: { 'data-berth': berth }, html: contents"></span>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>

    </div> <!-- /container -->
    <div class="container">
        <hr />
        <footer>
            <p>
                Copyright &copy; Michael Pritchard 2014. <a href="https://twitter.com/blueghostuk" class="twitter-follow-button" data-show-count="false">Follow @@blueghostuk</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                <br />
                Contains information of Network Rail Infrastructure Limited licensed under the following licence:
                <a href="http://www.networkrail.co.uk/data-feeds/terms-and-conditions" target="_blank" title="Opens in new window"><i class="icon-share-alt" title="Opens in new window"></i>www.networkrail.co.uk/data-feeds/terms-and-conditions</a>
            </p>
        </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript">
        TrainNotifier.Common.serverSettings = {
            apiUrl: "@System.Configuration.ConfigurationManager.AppSettings["apiUrl"]",
            wsUrl: "@System.Configuration.ConfigurationManager.AppSettings["wsUrl"]",
            apiName: "@System.Configuration.ConfigurationManager.AppSettings["apiName"]"
        };
    </script>
</body>
</html>
